<app-hero-section [receivedMainText]="mainText" [receivedSecondText]="secondText">
</app-hero-section>
<p>Numeri pari</p>
<div *ngFor = "let num of counter">
  <p *ngIf = "num % 2 === 0"> {{ num }} </p>
</div>
<p>Numeri dispari</p>
<div *ngFor = "let num of counter">
  <p *ngIf = "num % 2 === 1"> {{ num }} </p>
</div>
